<%= form_with(model: introduction, local: true) do |form| %>
  <% if introduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(introduction.errors.count, "error") %> prohibited this introduction from being saved:</h2>

      <ul>
      <% introduction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :introduction_name %>
  </div>

  <div class="field">
    <%= form.label :profile %>
    <%= form.text_field :profile, id: :introduction_profile %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
